
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<div class="main">
    <h1 style="color:red;">Tài khoản của bạn đã bị khóa</h1>
    <br />
    <p>Nguyên nhân có thể bởi vì:</p>
    <ul>
        <li>Bạn cố gắng truy cập vào những trang của admin.</li>
        <li>Bạn hủy đơn hàng nhiều lần, cụ thể là từ 5 lần trở lên.</li>
        <li>Bạn vi phạm chính sách của chúng tôi.</li>
        <li>Bạn cố tình spam đánh giá sản phẩm.</li>
        <li>Hoặc hệ thống có lỗi...</li>
    </ul>
    <p>Chúng tôi rất tiếc về sự bất tiện này.</p>
    <p>Vui lòng liên hệ <strong>0347933844</strong> hoặc <strong>huynhthanhtam2605@gmail.com</strong> để biết thêm thông tin hoặc khắc phục lỗi do tự phát sinh.</p>
    <p>Xin cảm ơn!</p>
</div>

<style>
    .main{
        width:80%;
        height:400px;
        margin:0 auto;
        padding:20px;
    }
    .main h1{
        text-align:center;
    }
</style>