
@{ ViewBag.Title = "Policy";
                Layout = "~/Views/Shared/_Layout_Footer.cshtml"; }

<div class="main">
    <h1 style="color:blue;">Chính sách của nhà sách Tâm Đức</h1>
    <br />
    <label>1. Mua hàng</label>
    <ul>
        <li>Phí giao hàng mặc định là 15.000 đồng, chỉ giao phạm vi TPHCM.</li>
        <li>Nếu quý khách hủy đơn hàng nhiều lần, cụ thể là trên 4 lần, chugn1 tôi rất tiếc sẽ khóa tài khoản của quý khách.</li>
    </ul>
    <label>2. Tài khoản</label>
    <ul>
        <li>Mỗi tài khoản chỉ có quyền xem hàng, mua hàng, xem trang cá nhân, chỉnh sửa trang cá nhân.</li>
        <li>Nếu quý khách cố tình vào trag không được cho phép hoặc bất kỳ trang riêng tư của tài khoản khác chúng tôi cũng sẽ khóa tài khoản của quý khách.</li>
    </ul>
    <label>3. Đánh giá</label>
    <ul>
        <li>Mỗi tài khoản chỉ có thể đánh giá mỗi quyển sách 1 lần.</li>
        <li>Nếu nội dung bình luận của quý khách mang tính tiêu cực, khiếm nhã, thiếu văn minh chúng tôi cũng rất tiếc phải khóa tải khoản của quý khách để đảm bảo văn minh online.</li>
    </ul>
    <p>Khi tạo tài khoản quý khách cũng đã tự động chấp thuận mọi điều khoản của nhà sách.</p>
    <p>Chúng tôi chân thành cảm ơn và kính mong quý khách chấp thuận các điều khoản để nhà sách ngày càng phát triển.</p>
    <p>Vui lòng liên hệ <strong>0347933844</strong> hoặc <strong>huynhthanhtam2605@gmail.com</strong> để biết thêm thông tin hoặc khắc phục lỗi do tự phát sinh.</p>
    <p>Một làn nữa xin chân thành cảm ơn quý khách đã ủng hộ nhà sách Tâm Đức!</p>
</div>

<style>
    .main {
        width: 80%;
        height: 500px;
        margin: 0 auto;
        padding: 20px;
    }

        .main h1 {
            text-align: center;
        }
</style>